# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/node_modules

# Build outputs
dist/
/dist
/build
/coverage

# Environment and config
.env
.vscode
.DS_Store

# Logs
*.log
npm-debug.log*

# Playwright
/test-results/
/playwright-report/
/playwright-logs/
/playwright/playwright-logs
/blob-report/
/playwright/.cache/
.auth
**/__screenshots__/
downloads/

# Project specific
!sample-app/*/.env
sample-app/backend/test-events/movie-events.log