name: Merge Gatekeeper

on:
  pull_request:

jobs:
  merge-gatekeeper:
    runs-on: kubernetes-default
    permissions:
      checks: read
      statuses: read
    steps:
      - name: Run Merge Gatekeeper
        uses: upsidr/merge-gatekeeper@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          timeout: 660 # 11 minutes
